{% extends "shop/base.html" %}
{% load static %}

{% block title %}Your shopping cart{% endblock %}

{% block content %}
  <link href="{% static 'cart/css/cart.css' %}" rel="stylesheet"/>

  <h1 class="title-page">Your shopping cart</h1>

  {% if cart %}
  <table class="cart">
	<thead>
	  <tr>
		<th>Product</th>
		<th>Quantity</th>
		<th>Unit price</th>
		<th>Price</th>
	  </tr>
	</thead>
	<tbody>
	  {% for item in cart %}
		{% with product=item.product %}
		  <tr class="product">
			<td class="product__data">
              <div class="product__image">
                <img alt="image-{{ product.title }}" src="{{ product.image.url }}"/>
              </div>
              <div class="product__title">
                <p><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></p>
                <a href="{% url 'cart:cart_remove' product_id=product.id %}">Remove</a>
              </div>
            </td>
			<td class="product__quantity">
 			  <form action="{% url 'cart:cart_add' product_id=product.id %}" method="post">
				{{ item.update_quantity_form.quantity }}
				{{ item.update_quantity_form.update }}
				<input type="submit" value="Update">
				{% csrf_token %}
			  </form>
			</td>
			<td class="product__price">${{ item.price }}</td>
			<td class="product__total">${{ item.total_price }}</td>
		  </tr>
		{% endwith %}
	  {% endfor %}
	  <tr class="subtotal">
		<td>Subotal</td>
		<td colspan="2"></td>
		<td class="subtotal__amount">${{ cart.get_total_price }}</td>
	  </tr>
	</tbody>
  </table>

  <div class="extra">
    <p>Special instructions for seller</p>
    <textarea cols="30" id="" name="" rows="10"></textarea>
  </div>
  
  {% else %}
  <h2>Cart is empty</h2>
  {% endif %}

  <div class="active-button">
	<a class="back-buy-smt" href="{% url "catalog:list" %}" >Continue shopping</a>
	<a class="checkout" href="{% url 'order:checkout' %}" class="button">Checkout</a>
  </div>
  
{% endblock %}
