{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Add product{% endblock %}

{% block content %}
<link href="{% static "product/product-add.css" %}" rel="stylesheet"/>

<div class="product product-item">
  <h2>Add product</h2>

  {% if form.subject.errors %}
  <ol>
    {% for error in form.subject.errors %}
	<li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ol>
  {% endif %}
  
  <form method="POST" accept-charset="utf-8" enctype="multipart/form-data">
	{{ form.as_p }}
	{% csrf_token %}
	<button name="add" type="submit">add product</button>
  </form>
</div>
{% endblock %}
