{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Edit: {{product.title}}{% endblock %}

{% block product %}
<link href="{% static "product/product-add.css" %}" rel="stylesheet"/>


<div class="product product-item">
  <h2>Edit product</h2>

  <form method="POST" accept-charset="utf-8" enctype="multipart/form-data">

    <img alt="" src="/media/{{form.image.value}}"/>
    {{ form }}
    {% csrf_token %}
    <input name="edit" type="submit" value="Edit Product"/>
  </form>
  <h3><a href="{% url 'catalog:item' product.slug %}"> < back to item</a></h3>
</div>
{% endblock %}
