{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Catalog{% endblock %}

{% block products %}
  <link href="{% static "product/product-list.css" %}" rel="stylesheet"/>

  {% if products %}
  {% for product in products %}
	<div class="product product-item">
	  <div class="product__image">
		{% if product.image %}
		  <img alt="" src="{{ product.image.url }}"/>
		{% else %}
		  <img alt="" src="{% static 'shop/no-image.png' %}"/>
		{% endif %}
	  </div>
	  <div class="product__title">{{ product.title }}</div>
	  {% if product.price %}
		<div class="product__price">Price: {{ product.price }} $</div>	  
	  {% endif %}
	  <div class="product__actions actions">
		<div class="actions__view">
		  <a href="{% url 'catalog:item' product_slug=product.slug %}">view detail</a>
		</div>
		<div class="actions__add">
		  <a href="">add to cart</a>
		</div>
	  </div>
	</div>
  {% endfor %}
  {% else %}
  <div>Products soon be here...</div>
  {% endif %}
{% endblock %}
