body, html{
	margin: 0;
	padding: 0;
}

body, html{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	width: 100%;
	min-height: 100vh;
}

a {
    text-decoration: none;
    color: #333;
}
/* ===== main ===== */

#header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

/* new header  */
 
.simple-header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #eee;
}

.simple-header .search, .simple-header .cart a {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.simple-header .search, .simple-header .cart a p{
    padding: 0 0.5rem;
}

.simple-header .search form input{
    border: none;
    padding-left: 1rem;
    color: #333;
}

.header__logo h1 {
    font-size: 2.5rem;
    padding: 1rem;
    color: #333;
}

@media only screen and (max-width: 800px) {
    .categories{
        display: none;
    }
    .site-bar i {
        display: block;
    }
    .content {
        min-width: 100%;
    }
}


#content {
    width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	min-height: 70vh;
}

.site-bar{
    width: 20%;
}

.content {
    width: 80%;
}



/* site-bar & category */

.categories {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
    padding: 1rem 0.5rem;
}

.category{
    border-top: 1px solid #eee;
    padding: 1rem;
    width: calc(100% - 2rem);
};

.category a {
    cursor: pointer;
}

.social-link{
    border-top: 1px solid #eee;
    padding: 1rem;
    width: calc(100% - 2rem);
}

.social-link a i {
    font-size: 1.2rem;
    padding: 0.3rem;
}

.site-bar .icon{
    display: none;
}

.categories a:hover{
    opacity: 0.8; 
}

/* footer */

#footer {
	display: flex;
    flex-flow: column nowrap;
    padding: 1rem 0;
    border-top: 1px solid #eee;
}

#footer .info {
	display: flex;
    flex-flox: row wrap;
	justify-content: space-between;
	align-items: flex-start;
    padding: 1rem;
}

.links{
	display: flex;
    flex-flow: column wrap;
}

.links a{
    padding: 0.5rem 0;
}

.info .subscribe form {
    width: 100%;
}

.info .subscribe form #email{
    background-color: #eee;
    padding: 1rem;
    border: none;
    width: 60%;
    font-size: 1rem;
}

.info .subscribe form #subscribe {
    background-color: #333;
    color: #eee;
    padding: 1rem;
    box-sizing: border-box;
    border: none;
    width: 30%;
}


#footer .copyrights{
	font-size: 0.8rem;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    color: #333;
    border-top: 1px solid #eee;
}
