.content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

input{
    margin: 0.3rem 0;
}


