#content{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
    align-content: flex-start;
	align-items: stretch;
}

.product{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem 1rem;
	background: #eee;
	max-height: 400px;
	box-shadow: 5px 5px 20px black;
	transition: 0.5s
}

.product:hover{
	box-shadow: 3px 3px 20px #333;
}

.product__title {
	padding: 0.5rem;
}

.product__price {
	padding: 0.5rem;
}

.product__image {
	width: 300px;
	max-height: 100%;
}

.product__image img {
	width: 100%;
	max-height: 200px;
	object-fit: cover;
	object-position: 50% 50%;
} 

.actions {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
    margin-top: 1rem;
}

.actions div{
    padding: 1rem 1.5rem;
}


.actions__add form input{
	color: white;
    background-color: green;
    border: none;
}


.actions__view {
	border: 1px solid green;
}

