{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Checkout{% endblock %}

{% block content %}
  <link href="{% static 'order/css/checkout.css' %}" rel="stylesheet"/>

  <section id="checkout">
	<h1>checkout</h1>
	<div class="checkout-wrapper">
	  <div class="detail">
		<div class="shipping-detail">
		  <h3>shipping detail</h3>
		  <div class="name">Josh Doe</div>
		  <div class="email">josh.doe@gmail.com</div>
		  <div class="addres">Washington 15a</div>
		</div>
		<div class="payment-detail">
		  <h3>payment detail</h3>
		  <div class="card-owner">Josh Doe</div>
		  <div class="card-number">4355 2324 0945 9983</div>
		  <div class="card-date">20/12</div>
		  <div class="card-cvv">212</div>
		</div>
	  </div>
	  <div class="order">
		<h3>Your order</h3>

		<div class="order__item item">
		  <div class="item__image">
			{% if item.image %}
			  <img alt="" src="{{ order.image.url }}"/>
			{% else %}
			  <img alt="" src="{% static 'shop/no-image.png' %}"/>
			{% endif %}
		  </div>
		  <div class="item__title">
			{% if item.title %}
			  <a href="{% url item.slug %}">{{ item.title }}</a>
			{% else %}
			  <a href="#">Order-title</a>
			{% endif %}
		  </div>
		  <div class="item__count">
			{% if item.count %}
			  <span>3</span>
			{% else %}
			  <span>3</span>
			{% endif %}
		  </div>
		  <div class="item__price">
			{% if item.price %}
			  <span>$ {{ item.price }}</span>
			{% else %}
			  <span>$ 3.00</span>
			{% endif %}
		  </div>
		</div>

		<div class="order__item item">
		  <div class="item__image">
			{% if item.image %}
			  <img alt="" src="{{ order.image.url }}"/>
			{% else %}
			  <img alt="" src="{% static 'shop/no-image.png' %}"/>
			{% endif %}
		  </div>
		  <div class="item__title">
			{% if item.title %}
			  <a href="{% url item.slug %}">{{ item.title }}</a>
			{% else %}
			  <a href="#">Order-title223</a>
			{% endif %}
		  </div>
		  <div class="item__count">
			{% if item.count %}
			  <span>3</span>
			{% else %}
			  <span>3</span>
			{% endif %}
		  </div>
		  <div class="item__price">
			{% if item.price %}
			  <span>$ {{ item.price }}</span>
			{% else %}
			  <span>$ 3.00</span>
			{% endif %}
		  </div>
		</div>


		<div class="order__item item">
		  <div class="item__image">
			{% if item.image %}
			  <img alt="" src="{{ order.image.url }}"/>
			{% else %}
			  <img alt="" src="{% static 'shop/no-image.png' %}"/>
			{% endif %}
		  </div>
		  <div class="item__title">
			{% if item.title %}
			  <a href="{% url item.slug %}">{{ item.title }}</a>
			{% else %}
			  <a href="#">Order-title</a>
			{% endif %}
		  </div>
		  <div class="item__count">
			{% if item.count %}
			  <span>3</span>
			{% else %}
			  <span>3</span>
			{% endif %}
		  </div>
		  <div class="item__price">
			{% if item.price %}
			  <span>$ {{ item.price }}</span>
			{% else %}
			  <span>$ 3.00</span>
			{% endif %}
		  </div>
		</div>

		<div class="order__summary">
		  <div class="subtotal">
			<p>subtotal</p>
			<span>$ 32</span>
		  </div>
		  <div class="shipping">
			<p>shipping</p>
			<span>$ 0.04</span>
		  </div>
		  <div class="total">
			<p>total</p>
			<span>$ 32.04</span>
		  </div>
		</div>

	  </div>
	  <div class="buy-holder">
		<input class="buy" name="buy" type="submit" value="purchese $32.00"/>
	  </div>
	</div>
  </section>
{% endblock %}

