{% load static %}
{% load %}

<!doctype html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8"/>
    <title>Shop</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
	<link href="{% static 'shop/base.css' %}" rel="stylesheet"/>
  </head>
  <body>
	<div id="header" class="sticky-top">
	  <div class="nav">
		<a href="{% url 'product:list' %}">Catalog</a>
		<a href="#">Popular</a>
		<a href="#">Products</a>
		<a href="#">Sale</a>
	  </div>
	  <div class="logo"><a href="{% url 'shop_index' %}"><i class="far fa-gem"></i><span>Shop</span></a></div>
	  <div class="user-menu">
		<a href=""><i class="far fa-heart"></i></a>
		<a href=""><i class="far fa-user"></i></a>
		<a href=""><i class="fas fa-shopping-cart"></i></a>
	  </div>
	</div>

	

	<div id="products">
	  {% if products %}
		<link href="{% static "product/product.css" %}" rel="stylesheet"/>
		<link href="{% static "product/product-list.css" %}" rel="stylesheet"/>

		{% for product in products %}
		  <div class="product product-item">
			<div class="product__image">
			  {% if product.image %}
				<img alt="" src="{{ product.image.url }}"/>
			  {% endif %}
			</div>
			<div class="product__title">{{ product.title }} title</div>
			<div class="product__price">{{ product.price }}</div>	  
			<a href="{% url 'product:item' slug=product.slug %}">view</a>
		  </div>
		{% endfor %}
	  {% else %}
		{% block products %}
		{% endblock %}
	  {% endif %}
	  
	  {% block product %}
	  {% endblock %}
	</div>


	<div id="footer">
	  <div class="copirights">© 2020 All rights reserved. Designed by AndrewZweb.</div>
 </div>

	<!-- css and js -->
  </body>
</html>


