{% load static %}

<!doctype html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8"/>
    <title>Shop</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
	<link href="{% static 'shop/base.css' %}" rel="stylesheet"/>
  </head>
  <body>
	<div id="header" class="sticky-top">
	  <div class="nav">
		<a href="#">Catalog</a>
		<a href="#">Popular</a>
		<a href="#">Products</a>
		<a href="#">Sale</a>
	  </div>
	  <div class="logo"><i class="far fa-gem"></i><span>Shop</span></div>
	  <div class="user-menu">
		<a href=""><i class="far fa-heart"></i></a>
		<a href=""><i class="far fa-user"></i></a>
		<a href=""><i class="fas fa-shopping-cart"></i></a>
	  </div>
	</div>


	<div id="products">
	  {% block products %}
	  {% endblock %}
	</div>

	<div id="footer">
	  <div class="copirights">© 2020 All rights reserved. Designed by AndrewZweb.</div>
 </div>

	<!-- css and js -->
  </body>
</html>


