{% load static %}

<!doctype html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8"/>
	<link href="{% static 'shop/fontawesome-pro-5.13.0-web/css/all.css' %}" rel="stylesheet"/>
	<link href="{% static 'shop/base.css' %}" rel="stylesheet"/>
	<title>{% block title %}{% endblock %}</title>

  </head>
  <body>
	<div id="header" class="sticky-top">
      <div class="simple-header header__nav nav">
        <div class="search">
		  <i class="fas fa-search"></i>
          <form action="search" method="POST">
            <input name="search" type="text" placeholder="Search" value=""/>
          </form>
        </div>
        <div class="cart">
		  <a class="link-to-cart" href="{% url 'cart:cart_detail' %}">
		    <i class="fas fa-shopping-cart"></i>
            <p>Cart</p>
		    {% with total_items=cart|length %}
		    {% if cart|length > 0 %}
            <span>({{ total_items }})</span>
		    {% else %}
		    <span>(0)</span>
		    {% endif %}
		    {% endwith %}
		  </a>
        </div>
      </div>
      <div class="header__logo logo">
        <h1>Simple</h1>
      </div>
    </div>

    
	<div id="content">
      <div class="site-bar">
        <div class="menu">
          <i class="far fa-bars icon"></i>
        </div>
        <div class="categories">
          <div class="category">
    	    <a href="{% url 'catalog:list' %}">Home</a>
          </div>
          {% for category in categories %}
          <div class="category">
            <a href="{% url 'catalog:filter_by_category' category.category_slug %}">{{ category.title }}</a>
          </div>
          {% endfor %}

          <div class="social-link">
            <a href="facebook.com">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="instagram">
		      <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      
      <div class="content">
	    {% block content %}
	    {% endblock %}

	    {% block products %}
	    {% endblock %}
	    
	    {% block product %}
	    {% endblock %}

	    {% block cart %}
	    {% endblock %}
      </div>
	</div>


	<div id="footer">
      <div class="info">
        <div class="links">
          <h3>Links</h3>
          <a href="">Search</a>
          <a href="">Our Story</a>
          <a href="">News</a>
          <a href="">Contact Us</a>
        </div>

        <div class="subscribe">
          <h3>Be in the know</h3>
          <p>Promotions, new products and sales. Directly to your inbox.</p>
          <form action="">
            <input id="email" type="text" value="" placeholder="Your email"/>
            <input id="subscribe" name="subscribe" type="button" value="SUBSCRIBE"/>
          </form>
        </div>
      </div>
      
	  <div class="copyrights">© 2020 All rights reserved. Designed by AndrewZweb.</div>
	</div>

	<!-- css and js -->
  </body>
</html>


